<span>
    <a href="#" id="pause-resume">Pause&nbsp;|</a>
    <a href="#" id="skip-animation">Skip Animation&nbsp;|</a>
</span>
<span>
    <a target="_blank" href="https://www.ajulien.fr/">Site</a>
</span>
