/**
 * Hello :)
 *
 * Je me prénomme julien
 * et vous vous trouvez sur la page web de mon Curriculum Vitae animé.
 *
 * Welcome !
 * 
 * Je suis autodidacte, passionné d'informatique et plus particulièrement :
 * de cybersécurité, de programmation,
 * et d'administration sur les systèmes d'exploitation de type GNU/Linux ou BSD.
 */

/**
 * Commençons par définir la durée des transitions.
 * Une bordure de séparation pour l'header.
 * Ainsi que les couleurs ...
 */

* {
    transition: all 1.5s;
}

#header {
    border-bottom: 1px solid #ccc;
}

body {
    background: #252422;
    color: #ccc;
}

a {
    color: #ccc;
}

/**
 * Je vais maintenant créer un espace approprié pour afficher le CV ...
 */

#code {
    height: 100%;
    padding: 10px;
    border: 1px solid #905;
    position: fixed;
    transform: rotateY(-360deg); 
    right: 8px;
}

/**
 * Rendons ce texte un peu plus lisible ...
 */

.comment  { color: #32CD32; font-style: italic; }
.selector { color: #E69F0F; }
.key      { color: #64D5EA; }
.value    { color: #BE84F2; }

/*
 * C'est mieux non ?
 *
 * Maintenant le CV ...
 */

#cv {
    height: 100%;
    padding: 10px;
    position: fixed;
    left: 8px;
    border: 1px solid #905;
}
