
/**
 * Le texte du CV est au format appelé Markdown.
 * Passons à sa mise en forme...
 */

#cv.flipped {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
}

#cv .md {
    transform: rotateY(190deg) rotateZ(180deg);
    margin-top: 900px;
}

/*
 * ...
 */
