
#cv .md strong {
    font-weight: bolder;
    color: #eee;
}

#cv .md h1 {
    border-bottom: 1px solid #eee;
}

#cv .md h2 {
    display: inline-block;
    border-bottom: 1px solid #eee;
}

#cv .md h2,
#cv .md p,
#cv .md ul {
    margin: 0;
}

#cv .md li {
    margin-bottom: 14px;
}

/*
 * C'est bientôt fini !
 */

#skip-animation, #pause-resume {
    display: none;
}

/**
 * J'espère que vous avez aimé.
 *
 * Vous pouvez scroller la partie CV avec la roulette ou le touchpad
 * pour changer le format de Markdown à HTML.
 *
 * Merci à Jake Albaugh et Samuel Reed pour leurs travaux sur le "Live Coding".
 *
 */

