html,
body,
#content {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Lucida Console", monospace;
    font-size: 16px;
    margin: 8px;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 20px; 
    margin-bottom: 8px;
}

#header a {
    text-decoration: none;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    margin: 0;
    /* body margin-top (8px) + body margin-bottom (8px) +
     * #header height (20px) + #header margin-bottom (8px) +
     * #header border-bottom (1px) + 
     * #code/#cv border-top (1px) + #code/#cv border-bottom (1px) +
     * #code/#cv padding-top (10px) + #code/#cv padding-bottom (10px) 
     */
    max-height: calc(100vh - (8px + 8px + 20px + 8px + 1px + 1px + 1px + 10px + 10px));

    /* body margin-left (8px) + body margin-right (8px) +
     * #code border-left (1px) + #code border-right (1px) +
     * #cv border-left (1px) + #cv border-right (1px) +
     * #code margin-left/right (8px) + #cv margin-left/right (8px)
     */
    width: calc((100vw / 2) - (8px + 8px + 1px + 1px + 1px + 1px + 8px + 8px));
}

